*{
    margin: 0;
    font-family: Arial;
    border: border-box;

   
    
}
.universal{
    height:60px;
    background-color: #0f1111;
    display:flex;
    justify-content:flex-start;
    position:relative;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.navbar{
    height: 60px;
    margin: 0 0;
    background-color:#0f1111;
    color:rgb(255, 255, 255);
    display: flex;

 
   
}
.navbar:hover{
    border: 2px solid white;
    background-color: #ffffff;
}
img{
    
    height: 50px;
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
}

.add-first{
    font-size: 0.75rem;
    color:grey;
    margin-left: 6px;
    margin-top: 5px;

}
.add-second{
    font-size: 0.90rem;
    color:white;
    margin-left: 7px;
    margin-top: 5px;
    
}
.add-icon{
    display: flex;
    font-size: 0.85rem;
    margin-left:6.5px;
    margin-top: 5px;

    
    align-items: center;
}
.search{
    color: rgb(181, 107, 10);
    margin-top: 5px;

}
.nav-search{
    display:flex;
    box-sizing: border-box;
    color: rgb(25, 21, 21);
    background-color:rgb(219, 198, 11);
    justify-content:center;
    margin-left: 16px;
    height: 30px;
    border: #060909;
    margin-top: 3px;
    width:400px ;
    border-radius: 5px;;
    margin-top: 5px;
}
.select{
    height:30px;
    margin-top: 5px;
}
.search-amazon{
    width:320px;
    font-weight: 700;
   
}
.search-icon{
    color: #0f1111;
   justify-content: center;
   align-items:center;
   display: flex;
   justify-items: center;
   


}
.navbar:hover{
    border: #ffffff;
    box-shadow: #ffffff;
    height: 20px;
    width:40px;
}
.flag{
    margin-left: 15px;
 display:flex;
    margin-top: 5px;
}
.english{
    font-size: medium;
    font-family: Arial;
    color: white;
    margin-left: 0px;
    display: flex;
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 5px;
}


.hello{
    color:white;
    font-size:0.50 rem;
    margin-left:20px;
    padding:content;
    margin-top: 5px;

}
.account{
    color:white;
    font-size:0.65 rem;
    margin-left:20px;
    padding:content;
    font-weight:20px;
    margin-top: 5px;
}
.cart{
    color: white;
    font-size: 0.75 rem;
    font-weight:640;
    margin-left:backdrop;
    margin-top: 5px;
}
.cart-icon{
    display: flex;
    font-size:larger;
    margin-top: 5px;
    justify-content:center ;
    align-items: center;

   
}
.Return{
    color:white;
    font-size: 0.75 rem;
    margin-top: 5px;
}
.order{
    color: white;
    font-size:1 rem;
    font-family: Arial;
    font-weight: 650;
    margin-top: 5px;
    
}
.panel{
    background-color: #1e2643;
    height:40px;
    width: 98.78vw;
    display:flex;
    justify-content:space-evenly;
    align-content:center;
}
.menu{
    margin-top: 5px;
    margin-left: 4px;
}
.panel p{
    font-size: 0.85 rem;
    display: flex;
    color:white;
    margin-top: 5px;
    font-weight: 500;

}

.photo{
    background-image: url("./img/lowerimgg2.jpg");
    background-size:cover;
    height: 60vh;
   

    margin-top: 40px;


}

.boxk{
    height:350px;
    width: 400px;
    background-color:white;
    margin:5px;
    border:2px solid rgb(219, 219, 219);
    border-radius: 4px;

}
.pbox{
    display: flex;
    background-color: #ebbe2a;
    justify-content:space-evenly;
}
p{
    color: rgb(18, 1, 1);
    justify-content: center;
    margin-top: 5px;
    font-weight: 600;
    
}
.boximage{
    background-size: cover;
    height: 85%;
    width:90%;
    align-content: center;
    margin: 5px;
    justify-content: center;
    padding:2%;
}
.qbox{
  
    background-color: #f7e198;
    justify-content:space-evenly;
    display: flex;
}


    .boxs{
        height:280px;
        width: 400px;
        background-color:white;
        margin:5px;
        border:2px solid rgb(250, 250, 250);
        border-radius: 2px;
    
    }
    .boximage2{
        background-size: cover;
        height: 85%;
        width:90%;
        margin: 5px;
        justify-content: center;
        padding:2%;
    }
    

.lowerimg{
    background-image:url("./img/Desktop_Hero_3000x1200_1_2x._CB583551426_.jpg");
    background-size: cover;
    height: 60vh;
    
}

.footer1{
    background-color:#353d5c ;
    height: 40px;
    width:100%;
    border: 1px solid rgb(13, 13, 37);

}
.foot{
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-style: normal;
    margin-left: 50%;
}
.footer2{
    background-color:#1e2643 ;
    height:500px ;
    width:100%;
    display:flex;
    justify-content: space-evenly;

   
}
.foot1{
color:white;
font-weight: 600;


}
.foot2{
   color:#ffffff;
   font-weight: 100;
   display:block;

}
.ul a{
    display:flex;
    margin-top:10px;
}

.footer3{
    background-color:#1e2643 ;
    color: #ffffff;
    border: 0.2px solid rgb(255, 255, 255);
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("./img/amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.footer4{
    background-color: #0f1111;
    height:100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
}
.copyright{
    color: #ffffff;
    font-size: larger;
}
   